/.vs/adme360-services-core/DesignTimeBuild/.dtbcache
/.vs/adme360-services-core/config/applicationhost.config
/.vs/adme360-services-core/v16/Server/sqlite3/db.lock
/.vs/adme360-services-core/v16/Server/sqlite3/storage.ide
/src/webui/server-side/node_modules
/src/webui/server-side/.vscode
/src/auth/adme360-auth.api/.vs

.vs/

src/webui/server-side/bin/

src/webui/server-side/obj/

src/common/adme360-common.dtos/obj/

src/common/adme360-common.dtos/bin/

src/common/adme360-common.infrastructure/bin/

src/common/adme360-common.infrastructure/obj/

src/auth/adme360-auth.api/bin/

src/auth/adme360-auth.api/Logs/

src/auth/adme360-auth.api/obj/

src/cms/adme360-cms.api/bin/

src/cms/adme360-cms.api/obj/

src/cms/adme360-cms.contracts/bin/

src/cms/adme360-cms.contracts/obj/

src/cms/adme360-cms.repository/bin/

src/cms/adme360-cms.repository/obj/

src/cms/adme360-cms.services/bin/

src/cms/adme360-cms.services/obj/

src/cms/adme360-cms.model/obj/

src/cms/adme360-cms.model/bin/
